#!/bin/bash

echo "CREATE DATABASE {{ salt['pillar.get']('KEYSTONE_DBNAME') }};" |mysql
echo "GRANT ALL PRIVILEGES ON {{ salt['pillar.get']('KEYSTONE_DBNAME') }}.* TO '{{ salt['pillar.get']('KEYSTONE_DBNAME') }}'@'localhost' IDENTIFIED BY '{{ salt['pillar.get']('KEYSTONE_DBPASS') }}';" |mysql
echo "GRANT ALL PRIVILEGES ON {{ salt['pillar.get']('KEYSTONE_DBNAME') }}.* TO '{{ salt['pillar.get']('KEYSTONE_DBUSER') }}'@'%' IDENTIFIED BY '{{ salt['pillar.get']('KEYSTONE_DBPASS') }}';" |mysql
