[DEFAULT]
bind_port = 8080
workers = 8
user = {{ salt['pillar.get']('SWIFT_USER') }}

[pipeline:main]
pipeline = catch_errors gatekeeper healthcheck proxy-logging cache container_sync bulk ratelimit authtoken keystoneauth copy container-quotas account-quotas slo dlo versioned_writes proxy-logging proxy-server

[app:proxy-server]
use = egg:swift#proxy
allow_account_management = true
account_autocreate = true

[filter:healthcheck]
use = egg:swift#healthcheck

[filter:cache]
use = egg:swift#memcache
memcache_servers = {{ salt['pillar.get']('dnsname_controller') }}:11211

[filter:ratelimit]
use = egg:swift#ratelimit

[filter:domain_remap]
use = egg:swift#domain_remap

[filter:catch_errors]
use = egg:swift#catch_errors

[filter:cname_lookup]
use = egg:swift#cname_lookup

[filter:staticweb]
use = egg:swift#staticweb

[filter:tempurl]
use = egg:swift#tempurl

[filter:formpost]
use = egg:swift#formpost

[filter:name_check]
use = egg:swift#name_check

[filter:list-endpoints]
use = egg:swift#list_endpoints

[filter:proxy-logging]
use = egg:swift#proxy_logging

[filter:bulk]
use = egg:swift#bulk

[filter:slo]
use = egg:swift#slo

[filter:dlo]
use = egg:swift#dlo

[filter:container-quotas]
use = egg:swift#container_quotas

[filter:account-quotas]
use = egg:swift#account_quotas

[filter:gatekeeper]
use = egg:swift#gatekeeper

[filter:container_sync]
use = egg:swift#container_sync

[filter:xprofile]
use = egg:swift#xprofile

[filter:versioned_writes]
use = egg:swift#versioned_writes

[filter:copy]
use = egg:swift#copy
object_post_as_copy = false

[filter:keymaster]
use = egg:swift#keymaster
encryption_root_secret = changeme

[filter:encryption]
use = egg:swift#encryption

[filter:keystone]
use = egg:swift#keystoneauth
operator_roles = admin, SwiftOperator
cache = swift.cache

[filter:keystoneauth]
use = egg:swift#keystoneauth
operator_roles = {{ salt['pillar.get']('ADMIN_ROLE') }},{{ salt['pillar.get']('USER_ROLE') }}

[filter:authtoken]
paste.filter_factory = keystonemiddleware.auth_token:filter_factory
auth_uri = http://{{ salt['pillar.get']('dnsname_controller') }}:5000
auth_url = http://{{ salt['pillar.get']('dnsname_controller') }}:35357
memcached_servers = {{ salt['pillar.get']('dnsname_controller') }}:11211
auth_type = password
project_domain_id = default
user_domain_id = default
project_name = {{ salt['pillar.get']('PROJECT_NAME') }}
username = {{ salt['pillar.get']('SWIFT_USER') }}
password = {{ salt['pillar.get']('SWIFT_PASS') }}
delay_auth_decision = true
