#!/bin/bash

export OS_PROJECT_DOMAIN_NAME=Default
export OS_USER_DOMAIN_NAME=Default
export OS_PROJECT_NAME={{ salt['pillar.get']('PROJECT_NAME') }}
export OS_USERNAME={{ salt['pillar.get']('ADMIN_USER') }}
export OS_PASSWORD={{ salt['pillar.get']('ADMIN_PASS') }}
export OS_AUTH_URL=http://{{ salt['pillar.get']('dnsname_controller') }}:35357/v3
export OS_IDENTITY_API_VERSION=3
export OS_IMAGE_API_VERSION=2
