[DEFAULT]
transport_url = rabbit://openstack:{{ salt['pillar.get']('RABBIT_PASS') }}@{{ salt['pillar.get']('dnsname_controller') }}
auth_strategy = keystone
my_ip = {{ salt['pillar.get']('mgmt_ip4_block') }}
enabled_backends = lvm
glance_api_servers = http://{{ salt['pillar.get']('dnsname_controller') }}:9292

[backend]

[backend_defaults]

[barbican]

[brcd_fabric_example]

[cisco_fabric_example]

[coordination]

[cors]

[database]
connection = mysql+pymysql://{{ salt['pillar.get']('CINDER_DBUSER') }}:{{ salt['pillar.get']('CINDER_DBPASS') }}@{{ salt['pillar.get']('dnsname_controller') }}/{{ salt['pillar.get']('CINDER_DBNAME') }}

[fc-zone-manager]

[healthcheck]

[key_manager]

[keystone_authtoken]
auth_uri = http://{{ salt['pillar.get']('dnsname_controller') }}:5000
auth_url = http://{{ salt['pillar.get']('dnsname_controller') }}:35357
memcached_servers = {{ salt['pillar.get']('dnsname_controller') }}:11211
auth_type = password
project_domain_name = default
user_domain_name = default
project_name = service
username = {{ salt['pillar.get']('CINDER_USER') }}
password = {{ salt['pillar.get']('CINDER_PASS') }}

[lvm]
volume_driver = cinder.volume.drivers.lvm.LVMVolumeDriver
volume_group = {{ salt['pillar.get']('vgname') }}
iscsi_protocol = iscsi
iscsi_helper = lioadm

[matchmaker_redis]

[nova_group]

[oslo_concurrency]
lock_path = {{ salt['pillar.get']('CINDER_LOCKPATH') }}

[oslo_messaging_amqp]

[oslo_messaging_kafka]

[oslo_messaging_notifications]

[oslo_messaging_rabbit]

[oslo_messaging_zmq]

[oslo_middleware]

[oslo_policy]

[oslo_reports]

[oslo_versionedobjects]

[profiler]

[ssl]
