[DEFAULT]
enabled_apis = osapi_compute,metadata
transport_url = rabbit://openstack:{{ salt['pillar.get']('RABBIT_PASS') }}@{{ salt['pillar.get']('dnsname_controller') }}
my_ip = {{ salt['pillar.get']('mgmt_ip4_controller') }}
use_neutron = True
firewall_driver = nova.virt.firewall.NoopFirewallDriver

[api]
auth_strategy = keystone

[api_database]

[barbican]

[cache]

[cells]

[cinder]

[compute]

[conductor]

[console]

[consoleauth]

[cors]

[crypto]

[database]

[ephemeral_storage_encryption]

[filter_scheduler]

[glance]
api_servers = http://{{ salt['pillar.get']('dnsname_controller') }}:9292

[guestfs]

[healthcheck]

[hyperv]

[ironic]

[key_manager]

[keystone_authtoken]
auth_uri = http://{{ salt['pillar.get']('dnsname_controller') }}:5000
auth_url = http://{{ salt['pillar.get']('dnsname_controller') }}:35357
memcached_servers = {{ salt['pillar.get']('dnsname_controller') }}:11211
auth_type = password
project_domain_name = default
user_domain_name = default
project_name = service
username = {{ salt['pillar.get']('NOVA_USER') }}
password = {{ salt['pillar.get']('NOVA_PASS') }}

[libvirt]
virt_type = qemu

[matchmaker_redis]

[metrics]

[mks]

[neutron]

[notifications]

[osapi_v21]

[oslo_concurrency]
lock_path = {{ salt['pillar.get']('NOVA_LOCKPATH') }}

[oslo_messaging_amqp]

[oslo_messaging_kafka]

[oslo_messaging_notifications]

[oslo_messaging_rabbit]

[oslo_messaging_zmq]

[oslo_middleware]

[oslo_policy]

[pci]

[placement]
os_region_name = RegionOne
project_domain_name = Default
project_name = service
auth_type = password
user_domain_name = Default
auth_url = http://{{ salt['pillar.get']('dnsname_controller') }}:35357/v3
username = {{ salt['pillar.get']('PLACEMENT_USER') }}
password = {{ salt['pillar.get']('PLACEMENT_PASS') }}

[quota]

[rdp]

[remote_debug]

[scheduler]

[serial_console]

[service_user]

[spice]

[trusted_computing]

[upgrade_levels]

[vendordata_dynamic_auth]

[vmware]

[vnc]
enabled = True
vncserver_listen = 0.0.0.0
vncserver_proxyclient_address = $my_ip
novncproxy_base_url = http://{{ salt['pillar.get']('dnsname_controller') }}:6080/vnc_auto.html

[workarounds]

[wsgi]

[xenserver]

[xvp]
